.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; 
  border-bottom: 2px solid gray;
  background-color: #e0e0e0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 0; 
}

.brand-name {
  font-size: 1.5rem;
  color: #3A563D;
  font-family: "Montserrat", serif;
  font-weight: 700;
  text-decoration: none;
  margin-right: 20px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  max-width: 150px; 
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav-links a {
  color: #3A563D;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #3A563D;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}


.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.subscribe-btn {
  background-color: #3A563D;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-style: normal;
}

.subscribe-btn:hover {
  background-color: #BDE6C2;
}

.topText {
  color: #3A563D;
  margin: 150px 0 100px 70px;
  max-width: 480px;
}

.subText {
  color: #3A563D;
  text-align: center;
  max-width: 480px;
  margin: auto;
}

/* about styling */
.about-section, .contact-section {
  margin: 20px auto;
  padding: 20px;
  max-width: 60vw;
  background-color: #e0dfdf;
  border-radius: 8px;
  text-align: center;
}
h2 {
  font-size: 24px;
  color: #3A563D;
  margin-bottom: 10px;
}
p, li {
  font-size: 17px;
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .about-section, .contact-section {
    max-width: 80vw;
  }
  .subscribe-btn {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
  }

  .topText {
    margin: 150px auto 50px auto;
    padding: 30px;
  }
  
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    width: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .nav-links a{
    padding: 0px;
    font-size: 14px;
  }

  .navbar-right {
    margin-right: 0;
  }

  .subscribe-btn {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}